<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgh.ro635bot.dao.EquipmentProduceDao">
    <select id="findAllEquipmentProduceByTime" resultType="EquipmentProduce">
        SELECT * FROM equipment_produce WHERE time = #{time}
    </select>
</mapper>